.sr_error{background-color:#F5A9A9;}

.sr_success{background-color:#BCF5A9;}

.nothing_scheduled{background-color:#F2F5A9;}

.grayed{background-color:gray;}

#display_calendar_status{text-align:center;}
#sr_room{margin-bottom:10px;}

select{padding-right:1em;}